<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        
        <%- include('./partials/nav.ejs'); %>
        <div class="container">
            <h1>Page not found!!</h1>
            
        </div>
        
    </body>
</html>