<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        
        <%- include('./partials/nav.ejs'); %>
        <div class="container">
            <h1>Home Page</h1>
            <h4>Welcome to Node Blog Project</h4>
        </div>
        
    </body>
</html>